Archivos y carpetas de salida

/node_modules
/build
/dist
/coverage
.npm
.cache

Archivos de configuración locales/sistema

.env
.env.*
.DS_Store
npm-debug.log*

Archivos de control de versiones

.git
.gitignore

Archivos de desarrollo/pruebas

*.spec.js
*.test.js
tests
